.music_system{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.music_player{
    border:1px solid black;
}
.music_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}
audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}
.playTime{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Control{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.Control button{
    display: flex;
    margin: 10px;
    padding:10px;
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: .5rem;
}
.Control button:active{
    outline: 1px solid black;
}
.Control button{
    color:white;
    background: rgb(47, 48, 47);
}
.Control button:nth-child(2){
    color:white;
    background: green;
}