.music_system{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50%;
}
.music_player{
    display: flex;
    width:100%;
    flex-direction: row;
    align-items: center;
}
.player{
    box-shadow: 1px 1px 2px rgb(85, 88, 85);
    border-radius: .5rem;
    margin:10px;
}
.music_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    justify-content: center;
}
audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-volume-slider {
    display: none !important;
}
.playTime{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Control{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.Control button{
    display: flex;
    margin: 10px;
    padding:10px;
    cursor: pointer;
    outline: none;
    border:none;
    border-radius: .5rem;
}
.Control button:active{
    outline: 1px solid black;
}
.Control button{
    color:white;
    background: rgb(47, 48, 47);
}
.Control button:nth-child(2){
    color:white;
    background: green;
}
.Music{
  box-shadow: 1px 1px 2px rgb(10, 151, 232);
  border-radius: .5rem;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction:row;
  align-items: center;
}
.Music h1 {
    color: green;
    text-align: center;
    padding:10px;
}
.song_list{
    display: flex;
    overflow-y: scroll;
    height: 270px;
    max-height: 400px;
    flex-direction: column;
    align-items: center;
    padding:0;
    margin:10px 0;
}
.song_list::-webkit-scrollbar {
    display: none;
}
.song_list .song_{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(158, 158, 158);
    padding:0;
    cursor: pointer;
}
.song_ img{
    width:40px;
    height:40px;
    border-radius: .5rem;
    padding: 0 6px;
}
.song_ h2{
    font-size: 1rem;
    padding:0 10px;
    text-align: start;
    width:100px;
    text-transform: capitalize;
}
.song_ p{
    font-size: 14px;
    padding:0 10px;
}
/* .song_:focus{
    background: #000;
    color:white;
} */

.selected{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(158, 158, 158);
    padding:0;
    border-radius: .5rem;
    cursor: pointer;
    background:rgb(98, 131, 224);
    color:rgb(255, 255, 255);
}
.selected img{
    width:40px;
    height:40px;
    border-radius: .5rem;
    padding: 0 6px;
}
.selected h2{
    font-size: 1rem;
    padding:0 10px;
    text-align: start;
    width:100px;
    text-transform: capitalize;
}
.selected p{
    font-size: 14px;
    padding:0 10px;
}

@media (min-width: 200px) and (max-width: 500px) {
    .music_system{
        width:90%;
    }
    .music_player{
        width:100%;
    }
    .Music{
        display: flex;
        width:100%;
        flex-direction: column;
    }
    .music_area{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
        width:100%;
        justify-content: center;
    }
    .music_area img{
        width:170px;
        height: 170px;
    }
    .music_area h3{
        font-size: 2rem;
    }
    .music_area .playTime{
        font-size: 1.1rem;
    }
    .music_area .Control button{
        font-size: 25px;
    }
    .song_list{
        width:100%;
    }
    .song_{
        width:90%;
        margin:10px 0;
     }
     .selected{
        width:88%;
     }
  }